.PageOverview {
  padding: 0 30px;
  .Refresh {
    text-align: right;
  }
  .Flex {
    margin-left: -20px;
    display: flex;
    justify-content: space-between;
    > div {
      padding-left: 20px;
      box-sizing: border-box;
      &.Clients,
      &.Users {
        width: 40%;
      }
      /*&.Clients h3 {
        text-transform: uppercase;
      }
      &.Users h3 {
        text-transform: capitalize;
      }*/
      &.Lists {
        width: 20%;
        > div {
          clear: both;
          &:after {
            content: " ";
            display: block;
            clear: both;
          }
        }
        .Button {
          float: right;
          margin-top: 10px;
        }
      }
    }
  }
}
